

@model NewApplication1.Models.AddTravelViewModel


    @{
        ViewData["Title"] = "Add";
    }
@if (TempData["Error"] != null)
{
    <div class="alert alert-success role="alert">
        <span><b>Success!</b> - @TempData["Error"]<a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login</a> </span>
    </div>
}

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-4 card p-3">
            <h2 class="text-center text-info">Register</h2>
            <form asp-action="Add" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-1">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="MobileNumber" class="control-label"></label>
                    <input asp-for="MobileNumber" class="form-control" rows="2"></input>
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                 <div class="mb-1">
                <label asp-for="Nationality" class="control-label"></label>
                <select asp-for="Nationality" class="form-control" rows="2">
                <option value="Nationality">Nationality</option>
                <option value="Indian">Indian</option>
                <option value="Chinese">Chinese</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Korea">Korean</option>
                </select>
                <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
            <div class="mb-1">
                <label asp-for="Gender" class="control-label"></label>
                <input type="radio" asp-for="Gender" value="Female" rows="2"/>Female
                <input type="radio" asp-for="Gender" value="male" rows="2" />male
                <input type="radio" asp-for="Gender" value="others" rows="2" />Others
               
            </div>
           
            <div class="mb-1">
                <label asp-for="DateofArrival" class="control-label"></label>
                <input type="date" id="arrivalDate" asp-for="DateofArrival" class="form-control" rows="2"></input>
                <span asp-validation-for="DateofArrival" class="text-danger"></span>
            </div>

            <script>
                function handleChange() {
                    var selectedDate = document.getElementById("arrivalDate").value;
                    console.log("Selected date:", selectedDate);
                }

                var today = new Date().toISOString().split('T')[0];
                document.getElementById("arrivalDate").setAttribute('min', today);

                document.getElementById("arrivalDate").addEventListener("change", handleChange);
            </script>

            <div class="mb-1">
                <label asp-for="DateofDepature" class="control-label"></label>
                <input type="date" id="departureDate" asp-for="DateofDepature" class="form-control" rows="2"></input>
                <span asp-validation-for="DateofDepature" class="text-danger"></span>
            </div>

            <script>
                
                document.getElementById("arrivalDate").addEventListener("change", function () {
                    var arrivalDate = new Date(document.getElementById("arrivalDate").value);
                    var departureDateInput = document.getElementById("departureDate");

                   
                    var oneDayAfterArrival = new Date(arrivalDate);
                    oneDayAfterArrival.setDate(oneDayAfterArrival.getDate());

                    
                    var formattedDate = oneDayAfterArrival.toISOString().split('T')[0];

                    
                    departureDateInput.setAttribute("min", formattedDate);
                    
                    departureDateInput.value = '';
                });
            </script>



                <div class="mb-1">
                    <label asp-for="Destination" class="control-label"></label>
                    <select asp-for="Destination" class="form-control" rows="2">
                        <option value="Destination">--Select Option--</option>
                        <option value="NewDelhi">NewDelhi</option>
                        <option value="Manali">Manali</option>
                        <option value="Munnar">Munnar</option>
                        <option value="Kashmir">Kashmir</option>
                    </select>
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="Count" class="control-label"></label>
                <select asp-for="Count" class="form-control" rows="2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" id="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
              

                <div class="row">
                    <div class="col-8">
                        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-decoration-none float-start mt-2">Have account?</a>
                    </div>
                    <div class="col-4">
                    <input type="submit" value="Register" class="btn btn-primary btn-sm float-end" />
                    
                    </div>
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

    }
